<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.laofaner.test.mapper.DatabaseMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.laofaner.test.entity.Database">
        <id column="ID" property="id" />
        <result column="type" property="type" />
        <result column="client_host" property="clientHost" />
        <result column="client_port" property="clientPort" />
        <result column="database_name" property="databaseName" />
        <result column="username" property="username" />
        <result column="passwd" property="passwd" />
        <result column="version" property="version" />
        <result column="es_url" property="esUrl" />
    </resultMap>

</mapper>
