<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.laofaner.springboot.mapper.OrderMapper">
    <resultMap id="BaseResultMap" type="com.laofaner.springboot.domain.entity.OrderEntity">
        <!--<constructor >-->
        <!--<arg column="order_no" jdbcType="VARCHAR" javaType="java.lang.String" />-->
        <!--<arg column="order_amount" jdbcType="DOUBLE" javaType="java.lang.Double" />-->
        <!--<arg column="user_id" jdbcType="VARCHAR" javaType="java.lang.String" />-->
        <!--<arg column="status" jdbcType="INTEGER" javaType="java.lang.Integer" />-->
        <!--<arg column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />-->
        <!--<arg column="update_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />-->
        <!--</constructor>-->
        <result column="order_no" jdbcType="VARCHAR" property="orderNo"/>
        <result column="order_amount" jdbcType="DOUBLE" property="orderAmount"/>
        <result column="user_id" jdbcType="VARCHAR" property="userId"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>

    <insert id="insert" parameterType="com.laofaner.springboot.domain.entity.OrderEntity">
    insert into t_order (order_no, order_amount, user_id, 
      status, create_time, update_time
      )
    values (#{orderNo,jdbcType=VARCHAR}, #{orderAmount,jdbcType=DOUBLE}, #{userId,jdbcType=VARCHAR}, 
      #{status,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.laofaner.springboot.domain.entity.OrderEntity">
        insert into t_order
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="orderNo != null">
                order_no,
            </if>
            <if test="orderAmount != null">
                order_amount,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="orderNo != null">
                #{orderNo,jdbcType=VARCHAR},
            </if>
            <if test="orderAmount != null">
                #{orderAmount,jdbcType=DOUBLE},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <select id="selectByUserId" parameterType="string" resultMap="BaseResultMap">
      select * from t_order where user_id = #{userId,jdbcType=VARCHAR}
  </select>
    <select id="selectByPrimaryKey" resultType="com.laofaner.springboot.domain.entity.OrderEntity"
            parameterType="java.lang.String"></select>
</mapper>